<!DOCTYPE html>
<html lang="en">

<head>
  <title>Пример блочной верстки</title>
  <link href="style-form.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
 <body>


   <div class="form">
          <h2 style="margin-bottom: 0px; color: #000; text-align: center; font-size: 32px;">Connect with us</h2>
          <p>If you have any questions - just send request. We will call you in 10 minutes</p>
           <div id="contact-box">
                 <div class="contact-left">
                    <h3>Send your request</h3>
                        <form>
                            <div class="input-row">
                                <div class="input-group">
                                    <label>Name</label>
                                    <input type="text" placeholder="John Smith">
                                </div>

                                <div class="input-group">
                                    <label>Phone</label>
                                    <input type="text" placeholder="078 345 34 43">
                                </div>
                            </div>

                            <div class="input-row">
                                <div class="input-group">
                                    <label>Email</label>
                                    <input type="text" placeholder="John@gmail.com">
                                </div>

                                <div class="input-group">
                                    <label>Subject</label>
                                    <input type="text" placeholder="Demo text">
                                </div>
                            </div>
                         <button type="submit">Send</button>
                        </form>
                    </div>
                <div class="contact-right">
                    <h3>Reach us</h3>
                    <table> 
                        <tr>
                          <td><b>Email</b></td>
                           <td>marketing@ajax</td>  
                        </tr>
                        <tr>
                          <td><b>Phone</b></td>
                           <td>068 456 23 54</td>  
                        </tr>
                         <tr>
                          <td><b>Adress</b></td>
                           <td>Kyiv, Sklyarenko,5</td>  
                        </tr>
                    </table> 
                </div>
         </div>
           
              </div>    
               
</body>


</html>