<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/
	css?family=Dosis:300,400,700|Open+Sans:300" rel="stylesheet">

	<title>Planeto</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<body>
	<div id="top"></div>
	<header class = "header">
		<div class="container">
			<div class="header__inner">

				<div class="header__logo">
					<img src="img/headerLogo.png" id ="intro" alt="Planeto">
				</div>	

				<nav class = "nav">
					<a class = "nav__link" href="#about__us">About us</a>
					<a class = "nav__link" href="#services">Services</a>
					<a class = "nav__link" href="#partners">Partners</a>
					<a class = "nav__link" href="#projects">Projects</a>
					<a class = "nav__link" href="ContactForm.html">Contact</a>
					<!-- 
					<a class = "nav__link" href="D:\КПИ\web\Защита 5\gallery.html">Photos</a>
					<a class = "nav__link" href="D:\КПИ\web\Защита 5\gallery.html">COOL THINGS</a>
					-->

				</nav>
				<!-- 
				<div class= "burger__menu">
					<a href = "" class = "menu__btn">
						<span> </span>
					</a>
				</div>	
				-->
			</div>
		</div>
	</header>


	
	<div class = "intro">
		<div class = "container">
			<h1 class = "intro__title" id ="yakor"> Top-Notch web services in one place </h1>
		</div>
	</div>
	<div id="about__us"></div>
	<section class="section">
		<div class="container">
			<div class="ideas">	
				<div class="info__item">
					<img src="img/bodyLamp.png" alt=""> 
				</div>

				<div class="info__item">
					<div class="info__title">
						We have ideas for everyone
					</div>
					<div class="info__content">
						Lorem ipsum dolor sir amet, consectetur adipiscing elit. Fusce scelerisque nibh et neque faucibus suscipit. Sed auctor ipsum ut tellus faucibus tincidunt. Curabitur non quam facilisis , rhoncus ligula ac, pellentesque augue ipsum.
					</div>
					<a class="btnInfo" href ="#"> Learn More </a>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="fire">	
				<div class="info__item">
					<div class="info__title">
						We are on fire
					</div>
					<div class="info__content">
						Lorem ipsum dolor sir amet, consectetur adipiscing elit. Fusce scelerisque nibh et neque faucibus suscipit. Sed auctor ipsum ut tellus faucibus tincidunt. Curabitur non quam facilisis , rhoncus ligula ac, pellentesque augue ipsum.
					</div>
					<a class="btnInfo" href ="#"> Learn More </a>
				</div>

				<div class="info__item">
					<img src="img/bodyFire.png" alt=""> 
				</div>
			</div>
		</div>
	</section>
	
	<div id="services"></div>
	<div class="statistics">
		<div class="container">
			<div class="stat">
				<div class="stat__item">
					<div class="stat__count">186</div>
					<div class="stat__text">satisfied clients</div>
				</div>
				<div class="stat__item">
					<div class="stat__count">657</div>
					<div class="stat__text">completed projects</div>
				</div>
				<div class="stat__item">
					<div class="stat__count">1,340</div>
					<div class="stat__text">cofee drinked</div>
				</div>
				<div class="stat__item">
					<div class="stat__count">652</div>
					<div class="stat__text">hours played battlefiel 3</div>
				</div>
			
			</div>
		</div>
	</div>
	
	<div id="partners"></div>
	<section class="section">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Our wonderful partners</h2>
				
				<nav class = "nav">
					<a class = "btnPartner" href="#"><</a>
					<a class = "btnPartner" href="#">></a>
				</nav>
			</div>
			<div class="partners__inner">
				<div class="partners">
					<div class="parntner__item">
						<div class="partner__image">
							<img src= "img/partners1.png" alt="">
						</div>
					</div>
					<div class="parntner__item">
						<div class="partner__image">
							<img src= "img/partners2.png" alt="">
						</div>
					</div>
					<div class="parntner__item">
						<div class="partner__image">
							<img src= "img/partners3.png" alt="">
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</section>
	

	<div id="projects"></div>
	<section class="section">
		<div class="container">
			<div class="section__header">
				<h2 class="section__title">Our awesome projects</h2>

				<nav class = "nav">
					<a class = "btnPartner" href="#">All</a>
					<a class = "btnPartner" href="#">Web</a>
					<a class = "btnPartner" href="#">App</a>
					<a class = "btnPartner" href="#">Logo</a>
					<a class = "btnPartner" href="#">Code</a>
				</nav>
			</div>
		
			<div class="project">
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>
			</div>

			<div class="project">
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>
				<div class="project__item">
					<div class="project__image">
						<img src= "img/project1.png" alt="">
					</div>
				</div>	
			
		</div>

		<div class="project">
				<a class = "btnPortfolio" href="#">View portfolio</a>	
			</div>
		
	</section>
	
	<div id="contscts"></div>
	<footer>
		<div class="container">
			<div class="footer__inner">

				<div class="footer__logo">
					<img src="img/socialNet.png" alt="Planeto">
				</div>	

				<nav class = "nav__footer">
					<a class = "nav__link__footer" href="#top">To the top</a>
				</nav>
			</div>
		</div>
	</footer>
<script type="text/javascript" src="js.script.js"></script>
</body>
</html>