body{
	background:#efefef;
}

a{
	text-decoration:none;
	background:black;
	color:white;
	font-family: 'Lora', serif;
	font-size:2em;
}
header > div{
	margin:10px;
}
.container{
	display:flex;
	margin:10px;	
}
header{
	display:flex;
	justify-content: space-between;
}
h1{
	 text-align: center
}
.container > div{
	flex-flow: column;
	background:white;
	flex:1;
	margin:10px;	
	text-align: center
}
.container2{
	display:flex;
}
.container2 > div {
	flex:2 200px;
	margin-left:10%;
}
.container3{
	display:flex;
	margin-left:70px;
	margin-right:70px;
}
.container3 > div {
	flex:2 200px;
}